<div class="course-card">
  <h3>{{course.title}}</h3>
  <img [ngStyle]="{'border': course.soldOut ? '2px solid red' : 'none'}" [src]="course.image" [alt]="course.title" width="100">
  <p>{{course.description}}</p>
  <p>{{course.price | currency:'MXN'}}</p>
  <p>{{course.date | date:'longDate'}}</p>
  <p [hidden]="!course.soldOut">Sold out</p>

  @if (course.price < 50) {
    <div class="special-offer">Special Offer!</div>
  }

  @if (course.onSale) {
    <div class="sale-banner">On Sale!</div>
  }

  <button [disabled]="course.soldOut" (click)="onBookCourse()">Book Details</button>
  <button (click)="onAddToWishlist()"> Add to Wishlist </button>
</div>
